[2016-05-02 06:07] beckondelve1 opened #7 "Failed to show the Call Sid"
I am using this android sdk for twilio calls. Everything works fine . But **in case of an outgoing call when the onConnected() method gets fired  , it does not gives the call sid.**

[code]
over here .. the connection parameter gives the sid as null..

[2016-05-13 23:00] tmconnors commented on #7
@beckondelve1 This issue has been fixed in the 1.2.13. You can download the SDK from here: https://www.twilio.com/docs/api/client/android

[2016-05-17 18:46] #7 closed

[2016-05-26 04:39] beckondelve1 commented on #7
hello tmconnors.. i have checked the new sdk also.. but the issue is still there.. please verify it once again .. as i checked the issue more than 3 times...
i request you to solve it properly ..

[2016-05-26 20:29] tmconnors commented on #7
Hello @beckondelve1. Verified the CallSID exists both for incoming and outgoing during Client-Client and Client-PSTN calls using 1.2.13. Tested using the mobile-quickstart and client-quickstart. Please verify you're using the expected SDK Version by adding:

`Log.e(TAG, "Twilio SDK Version: Twilio.getVersion()` to the quickstart.

Perhaps a clean build will help. If you're using AS I'd invalidate

[2016-06-14 10:59] fabriziomoscon opened #13 "crash inside DeviceImpl.class at this.rejectAllPendingExcept(connection) call"
#Hi,
I am developing a react-native-twilio module and I am reusing part of this project for the Android implementation.
https://github.com/fabriziomoscon/react-native-twilio/tree/develop

I am experiencing a crash when making an outbound call.
Using android studio debugger I could see that `capabilities` is set correctly with OUTBOUND and INBOUND set to true.
The execution crashes inside the conne

[2016-06-15 22:53] sumeet3100 opened #14 "App finished when call ends"
Hello

The app finish itself and never give a callback after finishing the call.

[2016-06-20 23:49] tmconnors opened #17 "Testing integration."

[2016-06-20 23:49] #17 closed

[2016-06-29 18:24] cuiyuming opened #20 "UpdateCapabilityToken exception."
Failed to remove account
                                                                          java.lang.IllegalArgumentException: Unknown account to delete
                                                                              at com.twilio.client.impl.useragent.UserAgent.deleteAccount(Native Method)
                                                                              at com.t

[2016-06-29 20:12] idelgado commented on #14
@sumeet3100 can you provide more information about your issue? We don't have enough information to do anything actionable with this comment.

[2016-06-29 20:12] #14 closed

[2016-06-29 23:57] tmconnors commented on #20
Hi @cuiyumingan can you please provide a little more information? Did this occurring during an active call or was the application in the background?

[2016-06-30 05:56] idelgado commented on #13
Would it be possible to use a sample android gradle based app that uses your `react-native-twilio` module? It's hard to tell what's happening here. Is this pretty easy to reproduce? If so, we can try to catch the error with the native debugger and get a better look at what's happening. So far I don't see any twilio client specific symbols in the stack.

[2016-06-30 08:23] fabriziomoscon commented on #13
good point!
I will do!

[2016-06-30 23:23] fabriziomoscon commented on #13
@idelgado I put something together to test:
https://github.com/fabriziomoscon/react-native-twilio/tree/develop/RNTwilioExample
Although it is not a fully working demo, it allows you to test the failures on outgoing calls.
In isolation it is simpler to see what is happening.

You need a python Twilio Mobile Quickstart server for the backend. You can change the number to call... that is one of mine.

[2016-07-06 00:30] idelgado commented on #13
@fabriziomoscon have not had a chance to look at this yet but will let you know as soon as we get a chance. Thanks!

[2016-07-12 16:41] #20 closed

[2016-07-13 15:45] blakgeek opened #22 "Crash with NullPointerException on disconnect"
On my Galaxy S6 I get the following error whenever a call ends and then the app crashes.

07-13 11:43:29.480 25884-25960/com.twilio.client.quickstart A/art: art/runtime/java_vm_ext.cc:410] JNI DETECTED ERROR IN APPLICATION: JNI GetObjectClass called with pending exception java.lang.NullPointerException: callSid must not be null
07-13 11:43:29.480 25884-25960/com.twilio.client.quickstart A/art: art

[2016-07-13 18:20] blakgeek commented on #22
The only way to get this working was to manually set an outgoing call sid after the connection was created.

[code]

[2016-07-13 19:14] tmconnors commented on #22
@blakgeek Can you ensure that the logging level is set to DEBUG and occurs after initialization?

https://github.com/twilio/twilio-client-quickstart-android/blob/master/app/src/main/java/client/twilio/com/quickstart/ClientActivity.java#L172

Could you post the full log (with the crash) to a gist or email directly at tconnors@twilio.com? I'm specifically looking for something similar to `D/CallCont

[2016-07-13 21:11] blakgeek commented on #22
It does happen after initialization.  However that status never changes from "offline" but it does allow the call to be placed.  I have already tried disabling metrics hoping that would stop the issue since it was an analytics class.  Still no bueno.

[2016-07-13 21:21] blakgeek commented on #22
Is there a reason the EventPayload explicitly throws an unchecked exception if it's missing values?

[code]

[2016-07-13 21:36] blakgeek commented on #22
CallControlManager.onTransactionState is never called.  Several of the other listeners are but not that one.

[2016-07-14 20:52] tmconnors commented on #22
@blakgeek We noticed peculiar SIP behavior in your crash log, which might explain why the callSid is null. We have created a release candidate to help diagnose this problem. If you're willing, I would like to send the rc to you directly? Please email tconnors@twilio.com - so I can share it with you.

[2016-07-20 03:01] yfsx opened #23 "Calling phone number from Twilio Client Android"
Hi, thanks for creating this library and tutorial, it's really amazing!

Currently I began working on project which can be used to call people to their Twilio clientName  and phoneNumber. I have successfully implemented call to Twilio clientName, but somehow i can't make outgoing call to phone number.

Is there any extra settings or any prerequisite that I didn't do before implementing call phone

[2016-07-20 19:11] tmconnors commented on #23
Hi @yfsx

Did you created your own TwiML response or are using the [mobile-quickstart](https://github.com/twilio/mobile-quickstart)?

If you're using the mobile-quickstart, is the [CALLER_ID](https://github.com/twilio/mobile-quickstart/blob/master/server.py#L13) set with your Twilio number?

Have you linked Voice option for the Twilio number to the proper TwiML app or webhook in the account portal

[2016-07-20 21:11] tmconnors commented on #22
Fixed in 1.2.16

[2016-07-20 21:11] #22 closed

[2016-07-21 18:21] tmconnors commented on #23
The specific geo location was not enabled in their Account Portal.

[2016-07-21 18:21] #23 closed

[2016-07-31 12:16] fabriziomoscon commented on #13
UPDATE:
I have made some changes allowing me to avoid the crash: https://github.com/fabriziomoscon/react-native-twilio/commit/e310969d46c8f5eb897a47f553a61654dc6e162a

It seems a problem when there are events signalled for `onConnected` and `onDisconnected`

I will close this issue and open specific ones for the subsequent problem I am still facing

[2016-07-31 12:16] #13 closed

[2016-08-10 16:04] RajeshYukta opened #28 "Execution failed for task ':app:validateDebugSigning'. > Keystore file F:\Android\twilio-client-quickstart-android\app\null\.android\debug.keystore not found for signing config 'debug'."
Hello,

I am getting this error while building my apk.

Log
==================================================================
Executing tasks: [:app:generateDebugSources, :app:generateDebugAndroidTestSources, :app:mockableAndroidJar, :app:prepareDebugUnitTestDependencies]

Configuration on demand is an incubating feature.
Incremental java compilation is an incubating feature.
:app:preBuild UP-TO-

[2016-08-10 16:11] berkus commented on #28
Please create a keystore file following the guide at https://developer.android.com/studio/publish/app-signing.html

Keystore file should of course be created in `F:\Android\twilio-client-quickstart-android\app\null\.android\debug.keystore`

[2016-08-11 19:17] #28 closed

[2016-08-16 16:49] davidvoiq opened #30 "IllegalStateException: Unable to retrieve AudioTrack pointer for getPosition()"
Hi Twilio team, we are facing this crash in our production app since the Twilio SDK was updated to 1.2.16 and still happening on Twilio SDK 1.2.17

[code]
this only happens in devices running android 4.4, and happens as soon as we call `clientDevice.connect(...)`

attached is a [log in verbose mode](https://github.com/twilio/twilio-client-quickstart-android/files/420809/twilio_crash.txt) since we

[2016-08-16 20:14] tmconnors commented on #30
Hi @davidvoiq, unfortunately I've been unsuccessful in reproducing the issue on a number of devices running 4.4.X. Is the crash occurring on all devices running 4.4 or a just subset? If that latter, a specific model would be helpful for debugging. Is this occurring in prod or dev? You can reach me directly at tconnors@twilio.com - would love to chat/help you.

[2016-08-16 20:27] davidvoiq commented on #30
Hi @tmconnors and thanks for your help, this is happening to one of our main testers user, the model he is using to test the application is an LG G2 D803 running stock Android 4.4.4.
The crashes are happening in our dev and prod environments

[2016-08-16 23:01] tmconnors commented on #30
@davidvoiq I tested on similar devices and was unable to reproduce the crash. I believe this is a specific device / os combo issue. I need to recreate the issue in order to properly diagnose. If you're willing I'd like to setup a session where I can remotely access the problematic device using [vysor](https://www.vysor.io/). Another option would be to mail us the device temporarily. Let me know if

[2016-08-22 19:59] davidvoiq commented on #30
Hi @tmconnors as you suggested the crash has disappeared adding the  following lines to the creation of a Twilio device

[code]
The crash may be happening because of the **AudioTrack** is not configurated with a proper sound to be played in the Outgoing and Incoming and Disconnection events?

Maybe the Twilio SDK should be handling this error and if the **AudioTrack** has no file to be played not

[2016-08-22 20:34] tmconnors commented on #30
@davidvoiq Some clarification. The file exists, however, the `LG G2 D803` cannot properly play the file.

When using the Client library prior to 1.2.13, these sound files were included in the distribution `tar.bz2`. However, you had to manually import these **optional** sound files into your project. You mentioned you did not manually import any files other than the `twilio-client-android.jar`. Th

[2016-08-22 20:53] davidvoiq commented on #30
Ok @tmconnors thanks for the clarification, as this issue is related to this specific device and we don't want to play a sound for the connection events, disabling the sounds is a good solution.

Thank you very much for your help. 👍

[2016-08-22 20:53] #30 closed

[2016-08-23 14:01] rakesh-ideal opened #31 "TLS connection closed with Generic error code: 31000"
**Twilio Android SDK Version**
   1.2.17

### Client Code Snippet
[code]
### Exception / Log
[code]

### Steps to Reproduce
1. initializeTwilioClientSDK()
2. retrieveCapabilityToken()
3. createDevice()

[2016-08-23 15:11] idelgado commented on #31
@rakesh-ideal Did you see this intermittently?

[2016-08-24 08:29] rakesh-ideal commented on #31
@idelgado Thanks for reply,
I got the issue and fixed it in my code: just removed the parameter encoding while retrieving capability token, now its working.

[2016-08-24 08:29] #31 closed

[2016-08-25 08:43] rakesh-ideal commented on #23
@tmconnors I also getting this issue, I set CALLER_ID and added TwiML app in the account portal,
But unable to make outgoing call to phone number ?

I 'm not getting your point "The specific geo location was not enabled in their Account Portal."
Where i can check this in Account Portal ?

[2016-08-25 09:45] yfsx commented on #23
hi @rakesh-ideal, earlier @tmconnors mention about country that available to use this feature.. You can check it on your dashboard, in your Account Portal go to Programmable Voice --> Settings --> Geo Permissions. You can ask for permission for using this service on your designated country..

cheers

[2016-08-25 12:15] rakesh-ideal commented on #23
Thanks @yfsx Its working,
One more thing, now I can make call only for verified numbers,
How i can call to unverified numbers ?
If not then can we verify a number problematically using Twilio Client ?

[2016-08-26 01:56] yfsx commented on #23
i think after you enable that, you can make call to both verified and unverified number.. if anything goes wrong, you should ask @tmconnors directly or open new issue :)

[2016-08-26 06:14] rakesh-ideal commented on #23
No, i cant make call to unverified number,
Is it required to verify numbers, when my account is in trial mode, after upgrade my account can i call to unverified numbers also ?

[2016-08-31 16:46] davidvoiq opened #32 "CallSid not existing in onConnected(Connection inConnection)"
Hi, I've been having problems with the SDK version 1.2.17 when trying to obtain the CallSid of a connected connection, the connection's parameters don't contain that parameter

This is my code for creating the connection:
[code]

and this is the code for when the connection is connected:

[code]
but this is what comes in the connection's parameters (printed in the console):

`connection created wi

[2016-09-01 00:42] tmconnors commented on #32
@davidvoiq Thanks, this seems to be a timing issue - I will work on fix.

The CallSID should be available as soon as the `onTransactionState` is hit. As you've pointed out this after the `Connection.onConnected` callback, several hundred milliseconds. A temporary workaround, until the library is fixed, is to wait a second after the callback and then call `getParameters` on the active `Connection`

[2016-09-01 21:51] davidvoiq commented on #32
Hi @tmconnors do you have any update for this issue?
Thanks

[2016-09-08 20:40] tmconnors commented on #32
Fixed in 1.2.18, released September 8th, 2016.

[2016-09-08 20:40] #32 closed

[2016-09-18 15:50] ThangPk opened #35 "Twilio get error with log "AudioRecord: AUDIO_INPUT_FLAG_FAST denied by client" when making a call."
I'm getting the error log  "AudioRecord: AUDIO_INPUT_FLAG_FAST denied by client" when making a call. Could you please help me how to solve this issue? Thank you.

[2016-09-18 18:42] idelgado commented on #35
@ThangPk Are you having this problem on a specific device? Please provide the OS level & device type as well as a complete log leading up to this particular error in the log.

[2016-09-19 08:56] cuong-ubesim commented on #35
Below is complete log from Android Studio. Thanks!

09-19 15:49:44.059 22482-22482/com.hovit.mobile D/ViewRootImpl: ViewPostImeInputStage processPointer 0
09-19 15:49:44.119 22482-22482/com.hovit.mobile D/ViewRootImpl: ViewPostImeInputStage processPointer 1
09-19 15:49:44.179 22482-22482/com.hovit.mobile D/ViewRootImpl: #1 mView = com.android.internal.policy.PhoneWindow$DecorView{203cca0 V.E......

[2016-09-19 08:58] cuong-ubesim commented on #35
It happens on Samsung Galaxy J5 (Android 5.1.1) as well as Sumsung Galaxy J7 (Android 6.0.1). Thanks!

[2016-09-21 11:45] samirsamedov commented on #28
signingConfigs {
        debug {
            //storeFile file("${System.env.HOME}/.android/debug.keystore")
        }
    }

[2016-10-26 12:34] fabriziomoscon opened #36 "[Question] not able to receive calls when App closed"
I have implemented a quickstart app using the new Programmable Voice SDK, following this tutorial: https://www.twilio.com/docs/api/voice-sdk/android/getting-started
Everything works great, and **I am able to receive calls even though the app is closed/killed**

I was under the impression that I could receive calls even though the app is closed/killed also using the Client SDK. But when I tried to

[2016-10-26 14:29] idelgado commented on #36
@fabriziomoscon One of the shortcomings of the `client-android` library is that it relied on an Android Service that we started upon initialization to receive incoming calls. This Service established a connection with the Twilio backend allowing incoming calls to be received through this channel. Unfortunately, this mechanism is not reliable, since the Android OS is free to kill the Service even w

[2016-10-26 14:33] idelgado commented on #35
@cuong-ubesim Can you confirm that you have requested `RECORD_AUDIO` permission? On Android 6.0+ you will also need to request the permission at runtime.

[2016-10-26 14:34] fabriziomoscon commented on #36
Thanks. That makes totally sense!

[2016-10-26 14:34] #36 closed

[2016-10-26 14:44] idelgado commented on #35
By the way, doing a quick google search I found the following 2 links. Not sure if any of the suggestions in here can help you resolve this issue. This seems to be an issue with either the Android target libraries or enabling permissions.

https://github.com/Microsoft/ProjectOxford-ClientSDK/issues/14
http://stackoverflow.com/questions/34951502/project-oxford-speech-api-audio-input-flag-fast-denie

[2016-10-29 12:36] fabriziomoscon opened #37 "Crash when making a call out"
This is a crash in the library not in the demo app.
Although I am aware of the new Programmable voice SDK, I thought it would be still right to record this exception.

lib version `1.2.16`
device Samsung S6 (SM-G925F)
Android system 6.0.1
App in focus

Context: trying to make a call with a UK number with only SMS capabilities. (I am not sure if this matters)

Details from Fabric.io

![screen shot

[2016-10-31 16:09] idelgado commented on #35
Closing due to inactivity

[2016-10-31 16:09] #35 closed

[2016-10-31 17:14] kbagchiGWC commented on #37
@fabriziomoscon - was there any error in the log when you created the device? Seems like the account is `null` for the `device` that is receiving the incoming call. Can you provide a log snippet of creating the device? Please set the log level to DEBUG.

[2016-10-31 18:19] fabriziomoscon commented on #37
Hi, this error happened on a customer device. So far I only have Fabric setup to catch crashes. So the above info is really all I have to debug the issue. I can give you the account SID of the customer who had the crash, maybe from that you could see if something was misconfigured:
`AC426e882dddc3ecf45f008206ddbe46d8`

I am moving to use the Programmable Voice SDK, so unfortunately it is not likel

[2016-10-31 21:08] kbagchiGWC commented on #37
@fabriziomoscon does this happen every time they receive a call or it happened only once? `account` can be null due to an invalid capability token. Unfortunately only the account sid will not be sufficient to debug this issue.

Moving to Voice SDK is the right approach. If this occurs using Voice SDK, please open a new issue.

[2016-10-31 21:09] fabriziomoscon commented on #37
Thank you! I will

[2016-10-31 21:09] #37 closed

[2016-11-03 18:35] davidvoiq opened #39 "No callback for detecting "Answered" connection state"
Hi, can you please provide a callback in your mobiles SDK's for being notified when an outgoing connection from the phone has been answered by the person being called?

I've been checking the Twilio's Android SDK logs in verbose mode and it seems the Signaling process detects all those states (initiated, ringing, answered and completed), so I think there is only need for create a way of notify to

[2016-11-04 17:20] kbagchiGWC commented on #39
@davidvoiq we don't have a callback in our mobile SDKs to indicate when the remote party answers. However, we do support these events reporting via `statusCallbackEvent`. With `statusCallbackEvent`, you can subscribe to receive webhooks for the different call progress events: `initiated`, `ringing`, `answered`, or `completed` for a given call. For details please refer to the documentation in https

[2016-11-04 19:14] davidvoiq commented on #39
@kbagchiGWC so what would be the way for starting a timer in our mobile apps as soon the person being called answers the call?
We don't have any kind of socket communication from/to our server and don't trust in push notifications for sending one push for the device, and also don't wan't to be polling our server each xx milliseconds because the overhead that this can cause in our server.

I think

[2016-11-08 20:40] davidvoiq commented on #39
Hi @kbagchiGWC can you please take a look at my previous comment? Thank you very much

[2016-11-08 21:37] kbagchiGWC commented on #39
Hi @davidvoiq I agree with you that having those callback as part of `ConnectionListener` will e ideal. But that is not what the SDK supports at the moment. We are working with our backend team to find a long term solution.

You may find our [blog](https://www.twilio.com/blog/2015/05/introducing-call-progress-events-flexibly-track-and-control-your-outbound-calls.html) that details how to receive t

[2016-11-08 22:19] davidvoiq commented on #39
Thank you very much @kbagchiGWC hope the engineering team release this feature soon!
But returning to the original question and summarizing, by now the only way to get noticed of these events from the mobile side is to poll each xx milliseconds our server (wich should keep records of the states of all the calls our system do) from the iOS/Android apps querying for a specific callSid?

[2016-11-23 17:51] idelgado commented on #39
@davidvoiq For now I would recommend the following to learn about the answered event.

1a Send the to/from to your server to provide a call record.
1b Or you can wait until the connected event and send the call SID which will be the parent SID provided in the statusCallbackEvent later.
2 Use a websocket, socket or a synchronization service(firebase, etc.) between the client and your server
3 When

[2016-11-23 19:20] davidvoiq commented on #39
Hi @idelgado, those are in fact the additions we want to avoid to implement in our mobile apps and webserver just to bypass this kind of feature-lack from our third party SDK's.

[2016-11-23 20:00] idelgado commented on #39
@davidvoiq Yeah I totally understand. It's definitely a gap we want to provide a simple SDK based solution for. Im still working with the Voice infrastructure team on this.

[2016-11-23 20:04] davidvoiq commented on #39
Thanks @idelgado, we'll be eagerly waiting that feature

[2017-01-20 16:01] davidvoiq commented on #39
Hi @idelgado Do you know about any updates for this feature?

[2017-01-20 23:48] acossta commented on #39
@davidvoiq Nico from Twilio here. I'm the Product Manager for the SDKs. Piping the call events through to the originating leg is high up on our radar but don't have a timeline to share yet. I'll let you know as we make progress on this.

[2017-02-15 13:21] khurana3192 opened #41 "Can't receive incoming calls in this client quickstart android app - However outbound works"
Have added incoming capability to token and setting up correct client profile as well.

However incoming call is not working.

[2017-02-15 18:37] kbagchiGWC commented on #41
@khurana3192 is this still an issue?

[2017-02-15 18:38] khurana3192 commented on #41
@kbagchiGWC its working now. Thanks to Twilio support team :)

[2017-02-15 18:40] kbagchiGWC commented on #41
👍

[2017-02-15 18:40] #41 closed

[2017-02-20 06:51] MayconnW commented on #28
I had the same problem. I just gave permission on the folder! (In my case on 'home/user/.android')

[2017-03-03 12:50] khurana3192 commented on #41
Hey @kbagchiGWC

It has stopped working again.

This time I have some useful logs.

Please have a look

03-03 18:19:08.446 15176-15206/com.twilio.client.quickstart I/Adreno: QUALCOMM build                   : a7823f5, I59a6815413
                                                                      Build Date                       : 09/23/16

[2017-03-03 20:07] kbagchiGWC commented on #41
@khurana3192

 I see `Error processing packet from 54.169.127.139:10194: Rx buffer overflow (PJSIP_ERXOVERFLOW)` in the log that made the registration fail. What that means is, client `780a5397c4ae62915afab598d1848250b5dd056d` will not be able to receive calls.

Looking further in the log, looks like the one of the SIP headers is too long  - `Contact: sip:780a5397c4ae62915afab598d1848250b5dd056d@1

[2017-03-09 12:36] MightySeal opened #42 "Calls work only over mobile network"
I'm trying to integrate sdk, but when I'm testing it using my devices connected to local network constantly getting transport error: `twilio received transport error`. Calls work over cellular network but not with WiFi or cable (android emulator). Is there a way to fix it somehow?

[2017-03-09 20:50] kbagchiGWC commented on #42
@MightySeal Android CLIENT SDK works on wifi. Can you attach logs after setting the lo level to DEBUG i.e. `Twilio.setLogLevel(Log.DEBUG)`.

[2017-03-10 11:59] MightySeal commented on #42
@kbagchiGWC
Nothing special. Call is hung up and here's log:

[code]

[2017-03-13 19:02] kbagchiGWC commented on #42
@MightySeal - I will not be able to help with such limited information. Please provide , full logs (before and after the error printed in the log). Please file a support ticket with details if you prefer to share logs outside github.

[2017-04-16 06:48] Mustafa-Mohammadi opened #43 "Twilio quick_start project is not working"
I'm following Twilio [Quickstart](https://www.twilio.com/docs/quickstart/php/android-client#prerequisites) to launch Twilio for the first time. I deployed Twilio on Heroku using this link. Giving it parameters required like twilio_account_sid, twilio_auth_token, twilio_caller_id and twilio_app_id. I created a TwiML app and entered my app URL deployed on Heroku to it and set its method to GET.

The

[2017-04-17 16:19] kbagchiGWC commented on #43
Hi @Mustafa-Mohammadi ,

I would like to look at the token you have used to create the device. Can you please submit a support a ticket with with detailed logs and capability token? Please set the log level to `DEBUG`. Let me know the ticket number once you file it.

Thanks,

-Kumkum

[2017-04-17 18:07] Mustafa-Mohammadi commented on #43
@kbagchiGWC
Thanks for the answer. When should I submit a support ticket? Should I post it here also?
Thanks

[2017-04-18 23:00] kbagchiGWC commented on #43
@Mustafa-Mohammadi file the support ticket(https://support.twilio.com/hc/en-us/requests/new) and let me know the ticket number here or email me at kbagchi@twilio.com.

[2017-05-03 12:08] jadhavsuraj73 opened #44 "Not able to connect to make VOIP calls"
I am using Twilio jar file SDK_VERSION = "1.2.13";
 Please find the details log attached in the file below.
[twilio-issue-log.txt](https://github.com/twilio/twilio-client-quickstart-android/files/973209/twilio-issue-log.txt)

[2017-05-03 17:41] kbagchiGWC commented on #44
@jadhavsuraj73 I see the following transport error in the log, which indicates the application was not able to communicate with the Twilio Voice Service. Can you please check network availability and retry?

05-03 17:26:02.250 928-1004/<package-name> A/PJSIP: 17:26:02.250 tlsc0x90a5d814  TLS connect() error: Connection timed out [code=120110]
05-03 17:26:02.250 928-1004/<package-name> E/PJSIP: 17:

[2017-05-10 21:58] kbagchiGWC commented on #44
@jadhavsuraj73 were you able to resolve the issue? Let me know if you need any debugging help.

[2017-05-14 08:18] jadhavsuraj73 commented on #44
@kbagchiGWC  Thanks a lot for your help and reply. I was able to connect from a different wifi network and mobile network. Looks like it was some firewall issue. Anyways, I really appreciate your help.

[2017-05-14 08:18] #44 closed

[2017-05-17 20:31] tuckercr opened #46 "App crashes on x86_64 archictecture using emulator"
Hi,

Not sure if this is the right place for this issue, please let me know if I should submit it elsewhere...

Since including the Twilio SDK in my project, my app crashes on startup when ran on a x86_64 emulator.

`E/AndroidRuntime: FATAL EXCEPTION: main
                  Process: com.thinkrite.assistant, PID: 2928
                  java.lang.UnsatisfiedLinkError: dalvik.system.PathClassLoader[D

[2017-05-17 23:58] kbagchiGWC commented on #46
@tuckercr Thanks for filing the issue. We will take a look and notify you when this is fixed.

[2017-05-18 03:28] idelgado commented on #46
Given that the error references `libsupportjni.so`, which is not something we ship with the Voice library, I suspect this is an emulator configuration or emulator image problem.

[2017-05-24 13:41] khizar-lango commented on #20
I am facing same issue on following line of code
 clientDevice = Twilio.createDevice(capabilityToken,deviceListener);
Can you please guide me how to fix it ?

[2017-05-24 17:06] kbagchiGWC commented on #20
@khizar-lango what is issue? Can you share the details and logs?

[2017-05-25 05:17] khizar-lango commented on #20
@kbagchiGWC  i got this exception
Failed to remove account
java.lang.IllegalArgumentException: Unknown account to delete

on this line of code

clientDevice = Twilio.createDevice(capabilityToken,deviceListener);

[2017-05-25 06:32] kbagchiGWC commented on #20
@khizar-lango are you using a valid account in the capabilityToken? Has this ever worked in the past? Please send the token your are using to kbagchi@twilio.com.

What version of the CLIENT SDK are you using?

[2017-05-25 16:25] tuckercr commented on #46
The problem was due to an Run/Debug Configuration setting "enable advanced profiling"

I turned this off and the problem went away.

[2017-05-25 16:25] #46 closed

[2017-05-25 16:26] tuckercr commented on #46
![image](https://cloud.githubusercontent.com/assets/6718800/26459695/52744e9e-4145-11e7-9e2c-1d05c1bec75a.png)

[2017-05-25 16:48] kbagchiGWC commented on #46
@tuckercr I am glad that you resoled the problem.

[2017-06-01 21:22] NightlyNexus commented on #42
I can reproduce this error reliably, but only on my office WiFi.
I'm getting the `Call.Listener.onDisconnected` callback with a `CallException` with the "transport error" message.
What logs can I provide that will be helpful here?

[2017-06-01 21:56] kbagchiGWC commented on #42
@NightlyNexus What is special about the wifi that has the issue? Can you make sure all the requirements are fulfilled by your network configurations?
Looks like you are using VOICE SDK. Please open an issue under https://github.com/twilio/voice-quickstart-android/issues with adb logs.

[2017-06-01 22:00] NightlyNexus commented on #42
Oops, sorry for the wrong thread. Will move there. Thanks!

[2017-06-01 22:04] kbagchiGWC commented on #42
@NightlyNexus Here is the requirement link https://support.twilio.com/hc/en-us/articles/223180888-What-are-Twilio-Client-s-network-connectivity-requirements-

[2017-06-21 14:06] antonysoldatov commented on #42
I have the same issue.
Is any updates?

[2017-08-01 11:48] grow2014 commented on #30
Hello all.
I have the same issue. My log from Crashlytics:

_Fatal Exception: java.lang.IllegalStateException: Unable to retrieve AudioTrack pointer for getPosition()
       at android.media.AudioTrack.native_get_position(AudioTrack.java)
       at android.media.AudioTrack.getPlaybackHeadPosition(AudioTrack.java:1236)
       at com.twilio.client.impl.sound.SoundPoolPlayThread.run(SoundPoolPlayThre

[2017-08-01 17:51] kbagchiGWC commented on #30
@grow2014 looking at the stack trace, I believe you are using our Video SDK. Can you create an issue under https://github.com/twilio/video-quickstart-android/issues. Please provide details, steps to reproduce and logs.

[2017-08-01 21:42] kbagchiGWC commented on #30
@grow2014 - My bad, I misread the log and thought this was Video SDK related. Is this a device specific issue?

[2017-08-02 08:19] grow2014 commented on #30
@kbagchiGWC Hello **Kumkum**. I think no because it is the same issue like from @davidvoiq David.
But my customer has received the crash only once.
I don't know him, so I have the log from Crashlytics only.

[2017-08-02 17:51] kbagchiGWC commented on #30
@grow2014 We will try to reproduce the issue. In the meantime if you are able to reproduce or get additional information regarding steps to reproduce the issue, please let us know.

We strongly recommend you to move to using our next generation Voice SDK with better API and push notification support. You can find the details https://www.twilio.com/docs/api/voice-sdk/android.

[2017-08-19 08:08] SanjayAndroidDev opened #47 "Can't make call after successfully register"
I try to call with client after register. But show calling view with timer but didn't getting call in other device.

[2017-08-19 08:12] SanjayAndroidDev commented on #47
i got client name, incoming capability : true, Outgoing capability : true and Library Version : 1.2.20

[2017-08-19 13:29] SanjayAndroidDev opened #48 "Token does not allow outgoing calls"
I can't make a call after successful register. Here my logcat.

E/client.twilio.com.quickstart.ClientActivity: Connection error: Connection declined:Token does not allow outgoing callsE/Connection: Connecting call failed              java.lang.IllegalArgumentException: From name cannot be null when making a call                  at com.twilio.client.impl.MakeCallCommand.(MakeCallCommand.java:34)

[2017-08-23 00:39] kbagchiGWC commented on #48
@SanjayAndroidDev can you check your capability token and make sure your capability token included outgoing capability? You can find details on how to create a capability token [here](https://www.twilio.com/docs/api/client/capability-tokens). If your capability token includes outgoing capability, `Device.Capability. OUTGOING` will be set to `true`.

If you need us to look at the capability token,

[2017-08-23 00:43] kbagchiGWC commented on #48
@SanjayAndroidDev we strongly suggest you to use our next generation `Voice SDK`. I have noticed you opened an issue for Voice SDK https://github.com/twilio/voice-quickstart-android/issues/86. Please let us know if that is still an issue and if you need help.

[2017-08-25 13:18] girtis commented on #47
@kbagchiGWC followed up as part of issue #48. Closing

[2017-08-25 13:18] #47 closed

[2017-08-25 13:36] SanjayAndroidDev opened #49 "Can not able to get phone on app kill from background."
I register FCM but still not bale to take phone on kill app.

[2017-08-25 13:39] girtis commented on #49
Hi @SanjayAndroidDev - can you please be more descriptive? Also, if you're registering FCM, it sounds like you're using the Voice 2.0.0 SDKs? If so, please open an issue under https://github.com/twilio/voice-quickstart-android.

[2017-09-20 21:53] malcolmnguyen opened #50 "Unable to use setZOrderOnTop on VideoView"
I'd like the one of the VideoViews to be on top of the UI window. In order to this we have to be able to `setZOrderOnTop`, however `VideoView.applyZOrder` uses the `setZOrderMediaOverlay` method which overrides `setZOrderOnTop`, this instead puts the surface below the window, but above other surface views. Im not sure when applyZOrder is being called but its overriding the desired effect im lookin

[2017-09-20 22:12] idelgado commented on #50
@malcolmnguyen please file this over at https://github.com/twilio/video-quickstart-android. This is the quickstart for Twilio Client, a VOIP calling SDK.

[2017-09-20 22:12] #50 closed

[2017-10-11 21:44] viktord1985 opened #51 "Problem with video call. supported formats could not be retrieved because an error occurred connecting to the camera service"
I have this error when I try to make video call with front camera: _Supported formats could not be retrieved because an error occurred connecting to the camera service. The crash is on second field_.
[code]
If I changing **FRONT_CAMERA** to **BACK_CAMERA** it works well. I have tested it on Nexus 5 and Galaxy s7 and it have the same crash.

[2017-10-11 21:46] idelgado commented on #51
@viktord1985 please open this issue on https://github.com/twilio/video-quickstart-android

[2017-10-11 22:44] #51 closed

[2017-10-17 16:35] kbagchiGWC opened #52 "GENERIC ERROR, Error Code : 31000 #107"
Moving https://github.com/twilio/voice-quickstart-android/issues/107.

### Description

Hello Sir/Madam,

I am using twilio voice call in my android app. It is working fine. But, I get "GENERIC ERROR"  when i make call from **Moto G4 Plus** Device and whenever i get his error Application got crashed. I am facing this issue from last 2 months.

View my ticket : https://www.twilio.com/console/suppor

[2017-10-24 07:39] Hanif-abuvani commented on #52
Hi,
Right now this is the stable code in our app and i could not make any changes or cannot move to Voice SDK implementation. So, I request that please provide give me solution for this error in Twilio-Client-SDK.

This issue is High-Priority issue in this app and i am hoping on you that i could find solution from you. I have made lot of search around this and could not find any solution.

[2017-10-25 20:57] BeanStalka opened #53 "How to send the Caller's Name to the Callee with a CallInvite"
If I have two twilio programmable voice  enabled tablets.
Tablet A and Tablet B

Tablet A is Bob Smith's tablet

Tablet B is Jane Doe's tablet

When I initiate a call from Tablet A to Tablet B i need to be able to display who the call is from.

i.e. "Incoming call  from Bob Smith's Tablet"

So how do I pass the Caller's Name to the tablet being called so I can accomplish this.

P.S. - I know the d

[2017-10-25 21:14] kbagchiGWC commented on #53
Hi @BeanStalka This is a Programmable Voice SDK question. Can you please move this ticket to https://github.com/twilio/voice-quickstart-android?

[2017-10-25 21:17] #53 closed

[2017-11-21 10:09] marcoRS opened #55 "No implementation found for com.twilio.chat.Messages com.twilio.chat.Channel.getMessages"
[code]

We are seeing the following error in our app:

[code]

This seems to be a native error but we are unsure on how to proceed to fix this.

[2017-11-21 16:36] idelgado commented on #55
Please re-file this issue here: https://github.com/twilio/twilio-chat-demo-android. This quickstart is for a different SDK.

[2017-11-21 16:36] #55 closed

[2017-11-21 16:37] kbagchiGWC commented on #55
Hi @marcoRS I  moved the issue under https://github.com/twilio/twilio-chat-demo-android. Here is the link https://github.com/twilio/twilio-chat-demo-android/issues/25.

[2017-11-21 17:23] BeanStalka opened #56 "Getting an error when attempting an outbound call from Android SDK"
I am getting a nasty error when I attempt to place a call from the most recent Android SDK.

Attached please find an abbreviated logcat

[TwilioError.txt](https://github.com/twilio/twilio-client-quickstart-android/files/1492336/TwilioError.txt)

[2017-11-21 17:31] idelgado commented on #56
There are some cases where the OpenSLES Audio is not properly supported on emulators or devices. In this case as of beta24 we return an error. Previously this resulted in a crash. See https://www.twilio.com/docs/api/voice-sdk/android/changelog#200-beta24

[2017-11-21 18:53] BeanStalka commented on #56
Do you have any suggestions on how to fix this?

A work around?

[2017-11-21 19:19] idelgado commented on #56
Not at the moment. We are planning to move to a WebRTC based media stack in Q1 of 2018. This will provide substantially better audio capabilities including the ability to fallback to a non OpenSLES implementation.

What particular device or emulator do you see this on?

[2017-11-21 19:23] idelgado commented on #56
We're you able to confirm that an error is returned using beta24?

[2017-11-21 21:27] BeanStalka commented on #56
Yes, this error occurs with beta 24.

Trolling through the history is seem like this one comes and goes.  All the way back to beta 10

https://github.com/twilio/voice-quickstart-android/issues/60
https://github.com/twilio/voice-quickstart-android/issues/61

Awaiting your advice for a work around.

Maybe there is a library that I can install as well to smooth over where ever this gap is?

Otherwise

[2017-11-21 21:33] idelgado commented on #56
One point of clarification, are you getting a `AudioDeviceErrorException` from `onConnectFailure(...)` with beta24? Or are you still getting a native crash like what you posted above? On beta24 we don't expect to see the crash anymore, rather we will surface this error via `onConnectFailure(...)` with an `AudioDeviceErrorException`.

What device is this? If you are still seeing a crash on beta24 I

[2017-11-21 21:37] BeanStalka commented on #56
I am getting the crash in beta 24.  Looks like a regression issue.

[2017-11-21 21:38] idelgado commented on #56
Is this specific to a device or an emulator? If it's an emulator I might be able to reproduce.

[2017-11-21 21:39] BeanStalka commented on #56
I'm seeing this on my Samsung S2 Tablet (SM-T713)

What was the fix the last time you guys ran into this?

[2017-11-21 21:41] BeanStalka commented on #56
Oh BTW it is not calling back into OnConnectionFailure.   Wanted to make that clear.  Just crashing

[2017-11-21 21:50] idelgado commented on #56
You mentioned that this is a regression. Did this not crash in prior beta versions? Which beta version did this work on?

[2017-11-21 21:56] BeanStalka commented on #56
I said this is a regession because you guys fixed it for the poor soul in issue #60:

_@aashu09 we have officially released the fix in beta14. We appreciate your feedback and effort for bringing this issue to our attention.Let me know if you have any questions._

This is an actual device,

You cannot make a phone call with an emulator, you would need a mic.  Unless I missed some new tech, emulator

[2017-11-21 22:19] idelgado commented on #56
The crash log you provided looks entirely different than any of the logs posted in #60. While the function you are trying to perform is the same, placing an outgoing call, your stacktrace is entirely different.

In the log I see the Audio device failed to create an audio session and returned `SL_RESULT_CONTENT_UNSUPPORTED`. I don't have a fix to recommend for this now. We'll have to investigate fu

[2017-11-28 06:09] maraj91 opened #57 "Audio Conference Call"
Hi
I am not sure that this is the right place for this issue/question, please let me know if I should submit it elsewhere.
I am using this SDK for voice call and implemented successfully. But now my requirement to implement audio conference and not able to find any solution how to implement this. Please help me out from this.

Thanks in advance

[2017-11-28 12:56] mbrada commented on #39
Still no progress in this issue? It's have been almost a year :-/

[2017-11-29 18:34] idelgado commented on #56
Tracking this issue in the `voice-quickstart-android` repo

[2017-11-29 18:34] #56 closed

[2017-11-30 21:01] kbagchiGWC commented on #57
@maraj91 To be able to connect to a conference,  you can modify your `TwiML` to dial  a conference instead of a client or a number.
[code]
The first person joining the conference will hear default MOH when joined. For every other participants that want to join the conference, also need to implement the same to join the conference.

You can find details regarding conference verb in this link https:

[2017-12-01 07:29] maraj91 commented on #57
@kbagchiGWC Thanks for your reply, How can i connect with conference call? I am not getting any capability token from back-end for that I have followed the documentation [this](https://www.twilio.com/docs/api/twiml/conference.) .In one to one call in android I used <b>connect</b> method for connecting to other client. In witch i am passing the <b>to</b> & <b>token</b>. But in conference i am not a

[2017-12-01 20:40] kbagchiGWC commented on #57
@maraj91 You do not need any additional token to use the conference feature. As long as you have a valid access token(with valid application SID) while making a call using voice sdk, you should be able to join a conference using the `TwiML` I mentioned in my previous response.

I assume you want to call `Voice.call(context, accessToken, twiMLParams, callListener)` to initiate the call to join a co

[2018-02-14 10:52] itsunu commented on #57
I am rebuilded Openvbx system using latest twilio libraries ,APis and also latest Codeignite verison,
please contact me for updated OpenVBX
mail :- husainnki@gmail.com
SKYPE : muhammedhusaintk
mobile : +919562470582

Twilio Client 1.2 is deprecated today feb 14, 2018

Warning: Twilio Client 1.2 is deprecated and will reach end of life on February 14, 2018. On this date, Twilio will stop serving th

[2018-02-14 21:31] kbagchiGWC commented on #57
@itsunu
Apologies for the inconvenience. Have you considered using the Programmable Voice SDK? You will find details and download links here https://www.twilio.com/docs/api/voice-sdk. Please let me know if you need help with the transition.

[2018-02-14 21:48] kbagchiGWC commented on #57
@itsunu
Apologies for the inconvenience. twilio.js 1.4 has been GA for a while, please move to https://www.twilio.com/docs/api/client/twilio-js-14  at your earliest. If you need help with the transition, feel free to open an issue in https://github.com/twilio/client-js-1.4-examples.

If you are looking to use Programmable Voice SDK for mobile, you can find details of the API and download links und

[2018-02-14 21:49] kbagchiGWC commented on #57
Closing the ticket due to no activity regarding the original issue.

[2018-02-14 21:49] #57 closed

[2018-02-14 21:53] kbagchiGWC commented on #43
Closing it due to no activity for a while.

[2018-02-14 21:53] #43 closed

[2018-02-14 21:54] kbagchiGWC commented on #48
Closing it due to no activity for a while.

[2018-02-14 21:54] #48 closed

[2018-02-14 21:56] kbagchiGWC commented on #49
Closing it due to no activity for a while. Open a new ticket in https://github.com/twilio/voice-quickstart-android repo if you have questions regarding Programmable Voice SDK.

[2018-02-14 21:56] #49 closed

[2018-02-14 21:58] kbagchiGWC commented on #52
@Hanif-abuvani
I missed your comment earlier and sincere apologies for the delay. Do you still have the issue?

[2018-02-17 18:56] shahzad1 opened #60 "Facing dex error after adding Twilio dependency."
I'm developing an Android app in which I wanna generate number programmatically for each user. I'm using below (Twilio) dependency in my project.
`compile group: 'com.twilio.sdk', name: 'twilio', version: '7.17.0'`
When I try to run the app, it gives me following error(See attached image). Any solution?
![dexerror](https://user-images.githubusercontent.com/10573828/36344544-1bf0a79c-143e-11e8-9ce4

[2018-02-17 18:59] idelgado commented on #60
The Java helper library you are trying to use is not compatible with Android. This library is intended to be used as part of a server component. You should use your own webservice that uses this library to generate the number.

[2018-02-17 20:01] shahzad1 commented on #60
Can you refer me complete code for generating number programmatically?

[2018-02-18 05:42] idelgado commented on #60
This is an article that provides information and links to the REST API on purchasing phone numbers: https://support.twilio.com/hc/en-us/articles/223182728-Using-the-API-to-search-for-and-buy-Twilio-phone-numbers

[2018-02-18 05:43] idelgado commented on #60
If you have more specific questions you can request support https://support.twilio.com/hc/en-us/requests/new and someone will provide you with more detailed information based on your use case.

[2018-02-18 05:43] #60 closed

[2018-02-18 22:18] itsunu commented on #57
please connect me in SKYPE : muhammedhusaintk
or whatsAPP : +919562470682

i have fully updated OpenVBX
i am ready to setup for you

thanks

On Thu, Feb 15, 2018 at 3:19 AM, kbagchiGWC <notifications@github.com>
wrote:

[2018-02-19 07:23] shahzad1 commented on #60
I wanna know one more thing, If a user purchase Twilio number from my app, will he be able to recieve call and message on that (purchased) number?

[2018-02-19 09:07] shahzad1 opened #61 "Twilio number"
If a user purchase Twilio number from my app, will he be able to recieve call and message on that (purchased) number?

[2018-02-19 11:09] shahzad1 commented on #61
Still waiting for any response

[2018-02-20 00:50] kbagchiGWC commented on #61
@shahzad1 This is not the right repository for Twilio Phone Number related questions. As @idelgado mentioned in https://github.com/twilio/twilio-client-quickstart-android/issues/60, please open a support ticket using this link https://support.twilio.com/hc/en-us/requests/new and someone will provide you with specific details.

[2018-02-20 00:50] #61 closed

[2018-02-23 15:53] andrewgrow commented on #30
We have steps to reproduce the bug.

Library version `compile 'com.twilio:client-android:1.2.21'`

Devices with reproduce:
- Samsung Galaxy J7 (6.0.1)
- Samsung Galaxy Tab S2 (Android 7.0)
- Lenovo A7000 (Android 6)

Device that cannot reproduce:
- Google Pixel (Android 8.1.0)

1. Use android.hardware.Camera and play the snapsot sound for each action throught
`new android.media.MediaActionSound().

[2018-02-26 08:56] kbagchiGWC commented on #30
@andrewgrow

I was able to reproduce the exact problem you have described here by modifying the `ClientActivity` code. I updated the `connect(String contact, boolean isPhoneNumber)` to the following to play `MediaActionSound.SHUTTER_CLICK` sound 100 times in a loop:

[code]

This code produced the crash below :

[code]

But the error did not happen if I reused the same instance of `MediaActionSoun

[2018-02-26 09:08] andrewgrow commented on #30
@kbagchiGWC Hello! Thank you for your quick reaction! We may do Twillio better together ))

Yes, the crash is happen only if I create new instance of the MediaActionSound object every time I need to play a sound.

I have changed my code to re-use instance of the MediaActionSound object and I do not have received the errors.

But I thought that my expirience will be useful for you. So I decided to

[2018-02-26 09:17] kbagchiGWC commented on #30
Thanks @andrewgrow. I am glad that your problem is resolved.

Do consider moving to our next generation Voice SDK with better API and push notification support when possible. You can find the details [here](https://www.twilio.com/docs/api/voice-sdk/android).

Let us know if we can help with anything.

[2018-03-08 05:31] vishu5367 commented on #39
Hi, can you please provide a callback in your mobiles SDK's for being notified when an outgoing connection from the phone has been answered by the person being called? (something similar to the ConnectionListener).
Basically i Need a call duration between incoming and outgoing calls

Thanks

[2018-03-15 16:41] uriel-frankel opened #62 "I get connection failure in the Call.Listener"
In the Call.Listener I get onConnectFailure with this:

`03-15 18:32:25.559 12016-12016/com.houzz.app D/CallManager: onConnectFailure() called with: call = [com.twilio.voice.Call@bf8294], e = [com.twilio.voice.CallException: Connection error]
03-15 18:32:25.560 12016-12016/com.houzz.app W/System.err: com.twilio.voice.CallException: Connection error
03-15 18:32:25.560 12016-12016/com.houzz.app W/Sy

[2018-03-15 16:47] kbagchiGWC commented on #62
@uriel-frankel I believe you are using [Android Voice SDK](https://www.twilio.com/docs/api/voice-sdk). Can you please open the issue in https://github.com/twilio/voice-quickstart-android? Please provide details of the SDK version, reproducibility of failed scenario.

[2018-03-18 13:38] #62 closed

[2018-04-20 06:47] arvd commented on #36
I have fatching same issues and I have write code in app debate but still not receiving notification while application close and I got notification in background as well as in foreground. can you please tell help me.

[2018-04-20 07:13] arvd opened #63 "Notification not received while app is close."
Hello
I am doing VOIP with twillo calling. but application is allow notification while app is background or foreground. we are not received notification while app is close. I have written code in AppDelegate..

[2018-04-23 12:34] roshannsharma commented on #48
Call Error: 31201, Authorization error

[2018-07-05 07:05] monikamitruka24 commented on #36
Same question. It is working fine in foreground and background but don't know how to get it in killed state. If anyone can help me.

[2018-07-16 08:15] KerryTucker opened #64 "Android SDK - Connection error: Connection declined:Token does not allow outgoing calls"
i am getting Json Web Token(JWT) successfully in Android App but did not make call normally as well as with twiml
whenever i touch on phone icon & dial number it shows me this error

**Error:**
[code]
i submitted ticket & give him my JWT as well as Account SID here is my Ticket No.: **1433486**

[2018-08-09 03:42] siliconprime-tam opened #65 "Android: Publish and unpublish problem"
I use localParticipant.unpublishTrack(localAudioTrack); and I try to publishTrack again but nothing happen.

[2018-08-09 04:10] idelgado commented on #65
Please refile this issue here: https://github.com/twilio/video-quickstart-android

[2018-08-09 04:10] #65 closed

[2018-08-17 13:44] kbagchiGWC commented on #48
@UjjavalMoradiya
Do you have a CallSid that resulted in `603`? What version of the SDK are you using?

[2018-09-21 04:08] kongminghan commented on #39
Hi, is there any update on this? I find difficulties in implementing Twilio mobile SDK without any connection state callback. Thanks

[2018-09-28 11:34] ashishsharma30 opened #66 "Android : How to implement onConnecting method."
Hello,

I need help, I want to start "chronometer" when user accept call or connecting call. Currently in your demo code "chronometer" start in "onConnected" method. In SDK there a Interface "InternalListener", In this interface "onConnecting" but it's not public so I can't access this method.

I try with "activeCall.getState() == CallState.CONNECTING" but it not working. I also read your document

[2018-10-01 04:38] michaelrkn commented on #39
@kbagchiGWC I'm having this same issue using the twilio.js client. I guess I need to establish a separate WebSocket connection to pass the statusCallbackEvent to the client, but this adds a lot of complexity to the architecture, when the call status should be able to be passed back easily through the WebSocket connection already established by twilio.js.

I thought that the new customParameters fe

[2018-10-01 05:30] kongminghan commented on #39
This issue has been around for more than 2 years? Did your team plan to implement this issue? If not my team would like to consider move out from Twilio.

[2018-10-01 05:46] idelgado commented on #39
@michaelrkn I believe what you are describing was added in 1.4.25. Here is the changelog describing how to enable the feature. It requires setting a flag and making a change to TwiML. https://www.twilio.com/docs/voice/client/javascript/changelog#feature-support

@kongminghan we are addressing this on Android and iOS as well. The 3.X preview releases introduce "ringing", which when coupled with `an

[2018-10-01 17:09] michaelrkn commented on #39
@idelgado Oh, that makes complete sense. That will let me differentiate between answered and unanswered calls. But what about differentiating between unanswered, busy, and failed calls - is there any way to do that through twilio.js? (Sorry to hijack this thread; feel free to move this elsewhere.)

[2018-10-01 21:28] ryan-rowland commented on #39
@michaelrkn Currently any unanswered, busy or failed calls will disconnect in the same way. If the recipient is a PSTN, it may play early media that indicates the call failed or the line was busy, but there's no indicator in the SDK itself.

[2018-10-01 21:38] michaelrkn commented on #39
@ryan-rowland Got it. This is where being able to pass customer parameters back *from* the TwiML *to* the twilio.js that initiated the outbound call would be really helpful - the final call status could be passed back this way. Thanks!

[2018-10-03 04:50] ashishsharma30 commented on #66
@paynerc , @kwhinnery , @Gipetto , @berkus ...

[2018-10-03 06:53] ashishsharma30 commented on #66
@kbagchiGWC

Thanks for the response, I'll try.
Currently, I used 'com.twilio:voice-android:2.0.7'.

[2018-10-03 10:28] ashishsharma30 commented on #66
Hello @kbagchiGWC ,

I tried, but it's not working for what i want.
I also try with new SDK 'com.twilio:voice-android:3.0.0-preview5' but it's not working properly.
What I want to implement in my application:
1. When user make a call (Outgoing Call),  then other user accept call so "chronometer" start. Because, I want eject timing call duration(Just like normal calling working).
2. There are a met

[2018-10-05 12:40] ashishsharma30 commented on #66
@kbagchiGWC ,

I tried on server side, but there is a again issue (C#  code) :
I called other user :-
i. If user(receiver) not accepting call,  call status is no-answer.
ii. If user(caller) disconnect call again call status is no-answer.
iii. If user(receiver) disconnect call again call status is no-answer.

These issue i got when i implement on server side.

[2018-10-09 09:16] kbagchiGWC commented on #66
@ashishsharma30
As of now the SDK does not provide disconnect reasons but we have it in our backlog for 3.x.
Since you are you are using `3.0.0-preview5`, for future communication, please use https://code.hq.twilio.com/client/voice-android.

[2018-10-09 10:18] idelgado commented on #66
The correct link is https://github.com/twilio/voice-quickstart-android/tree/3.x. Please file issues at: https://github.com/twilio/voice-quickstart-android/issues moving forward.

[2018-10-09 10:19] idelgado commented on #64
Please follow the quickstart guide at https://github.com/twilio/voice-quickstart-android. This version of the SDK is deprecated as stated in the README.

[2018-10-09 10:19] #64 closed

[2018-11-09 17:58] ReejeshPK commented on #28
In my case, i just removed the config 'debug' or whatever its name from the menu, File->Project Structure->app->Signing and removed the 'debug'. Then, remove these line from grade(Module:app) too:

[code]
In my case 'debug' was named as 'signing'

[2019-01-29 08:33] mobilekbs commented on #48
Hello thread,

I am getting the following error while making a call:

Connection error: Connection declined:Token does not allow outgoing calls

---
 java.lang.IllegalArgumentException: From name cannot be null when making a call
        at com.twilio.client.impl.MakeCallCommand.<init>(MakeCallCommand.java:34)
        at com.twilio.client.impl.CallControlManager.makeCall(CallControlManager.java:40

[2019-01-29 18:01] kbagchiGWC commented on #48
Hi @mobilekbs

To be able to make outgoing calls, your capability token needs to have an app sid. You will be able find details on this [here](https://www.twilio.com/docs/voice/client/capability-tokens#allow-outgoing-connections).

Looks like you are using 1.X SDK. This version of the SDKs have been deprecated and superseded by the [Programmable Voice SDKs](https://www.twilio.com/docs/voice/voip-s

[2019-01-31 11:47] slowas commented on #48
I'am gave same issue some times get error "Token does not allow outgoing calls."

[2019-01-31 15:17] kbagchiGWC commented on #48
@slowas what version of the SDK are you using? 2.X and 3.X(currently in beta, soon to be GA) do not use Capability Token. I would suggest you to migrate to 2.x or 3.X. Reach out to us if you have issues with the migration.

[2019-02-07 10:11] slowas commented on #48
@kbagchiGWC Sorry, i writed in wrong repository. Problem with PHP sdk, i created issue there.

[2019-03-12 11:40] lakshmansinghrathore commented on #66
I need help, I want to start "chronometer" when user accepts a call or connecting call. I have to override three method -1)onConnectFailure ,2)onConnected and  3) onDisconnected . but i'm facing problems at the outgoing calling time than connected method directly call and on connecting can not call at the call ringing time, so I'm cannot manage the programmatically start chronometer. Currently in

[2019-03-12 15:21] kbagchiGWC commented on #66
@lakshmansinghrathore

This repo is not maintained and this issue is closed. The correct link is https://github.com/twilio/voice-quickstart-android. Please file issues at: https://github.com/twilio/voice-quickstart-android/issues moving forward.

Please add details of what duration you intend to measure. For incoming and outgoing.